Startprosjekt/Startprosjekt.esproj/Project.espressostorage
*.espressostorage
*.espressostorage

Startprosjekt/Startprosjekt.esproj/user.Weeto.espressostorage

Startprosjekt/Startprosjekt.esproj/Project.espressostorage
